form{
  text-align: center;
}
h2{text-align: center;}

input {
  padding:10px
}



.example-margin{
  border: 1px solid black;
  margin-left:  10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
